html{
    font-size: 100%;
    font-family: IRANSansX;
    direction: rtl;
}

body{
    background-color: #ffffff;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10%;
    padding-left: 10%;
}

/*extra SMAL screen */
@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
    }
}

/* SMAL screen */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* tablet screen */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}


/* normal screen */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* big screen */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/* 2xbig screen */
@media (min-width: 1400px) {
    .container {
        max-width: 1440px; /* Increased width for larger screens */
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1640px; /* Increased width for larger screens */
    }
}

input,button{
    font-family: inherit;
}
a{
    text-decoration: none;
}




.navbar{
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 5px -16px 20px 9px #0000008c;
}

.navbar__section{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar__links{
    margin-bottom: .3rem;
    display: flex;
    gap: 2.2rem;
    font-size: .8rem;
    color: #636363;
    font-weight:300 ;
    align-items: center;
}


.navbar__logo img{
    width :4.5rem ;
    align-self: end;
}


/*
* hero section
*/
.hero-section{
    display: flex;
}

.hero-section__intro{
    color: rgb(255, 255, 255);
    background-color: #21aa58;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem ;
    padding-right: 15%; 
    
}

.hero-section__image{
    background: url(../img/hero-section.jpg) center center/cover ;
    min-height: 40vh;
    width: 50%;
    transform: rotatey(180deg);
    flex-basis: 50%;
    flex-shrink: 0;
}

.hero-section__intro__tagline{
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 3rem;
}

.hero-section__intro__about{
    font-size: .95rem;
    font-weight: 400;
    line-height: 2.1875rem;

}

.hero-section__sendlink{
    display: flex;
    align-items: center;
    gap: 1rem;
    
    margin-bottom: 1rem;
    
    
}
/* btn send */
.hero-section__sendlink > button{
    color: #55d195;
    background-color: white;
    border: none;
    border-radius: .3rem;
    font-size: .7rem;
    font-weight: bold;
    flex: 0 0 25%;
    height: 1.99rem;
    /* margin-right: 1rem; */
    cursor: pointer;
}

.hero-section__sendlink > button:hover{
    background-color: rgba(255, 255, 255, 0.928);
}


.hero-section__intro__input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    flex: 0 0 50%;
    height: 1.99rem;
    
}

.hero-section__intro__input > input{
    background-color: #21aa58;
    font-family: inherit;
    border: none;
    color:white ;
    outline: none;
    padding-right:.3rem ;
    width: 100%;
    height: 1.5rem;
}

.hero-section__intro__input > input::placeholder{
    color: rgba(255, 255, 255, 0.648);
}

.hero-section__intro__input > .dot{
    height: .37rem;
    width: .37rem;
    background-color: white;
    border-radius: 5000rem;
    margin-left: 0.5rem;
}

.goto-webapp{
 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21aa58;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: .3rem;
    color: white;
    width: 50%;
    font-size: .9rem;
    font-weight: 600;
    padding: .4rem 0;
    cursor: pointer;
}
.goto-webapp:hover{
    background-color: rgba(255, 255, 255, 0.125);
}

/** 
app downlaod
*/

.app-downlaod__list{
    display: grid;
    grid-template-columns: repeat(4 ,auto );
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    /* padding:0    2rem; */
    padding: 6.8rem 4rem;

}


.app-downlaod__list__image{
    width: 140px;    
}


/* 
* intro snapp apps link
*/


.snapp-intro-app-link{
    background-color:#F2F5F8 ;
    padding-bottom: 2.5rem;
    
}

.snapp-intro-app-link_title{
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    color: #414141;
    padding: 2.5rem 0;
    padding-top: 2.5rem;
}

.snapp-intro-app-items-box {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 2rem;
    padding: 0px 4.1rem;

}

.snapp-intro-app-items-box > a{
    color: inherit;

}


.snapp-intro-app-item{
    background-color: #ffffff;
    display: flex;
    gap: .35rem;
    padding: 0.5rem 0.3rem;
    align-items: center;
    border-radius: 16px;
}

.snapp-intro-app-item >img{
    width: 62px;
    height: 62px;
}
.snapp-intro-app-item_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.snapp-intro-app-item_info > h3{
    font-size: 0.8rem;
    font-weight: 700;
}

.snapp-intro-app-item_info > p{
    font-size: 0.775rem;
    font-weight: 700;
    color: #0000004d;
}




/* 
* answer to all need section
*/
.answer-to-all-need-section{
    display: flex;
    flex-direction: row-reverse;
    

}

.answer-to-all-need-section__intro{
    width: 50%;
    padding: 2rem;
    padding-left: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.answer-to-all-need-section__intro > h3{
    color: #4C4B49;
    font-size: 1.25rem;
    font-weight: bolder;

}

.answer-to-all-need-section__intro > p{
    font-size: .7rem;
    font-weight: 400;
    line-height: 1.7;
    color: #0000008f;
    

}

.answer-to-all-need__image{
    background: url(../img/super-app.jpg) center center /cover;
    min-height: 50vh;
    width: 50%;
    flex: 0 0 50%;

}

.answer-to-all-need__benefit__items{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 4rem;
padding: 0 8rem;

}

.answer-to-all-need__benefit__item{
    display: grid;
    gap: 1rem;
}

.answer-to-all-need__benefit__cover{
    background-color: #f2f7fa;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-to-all-need__benefit__titel{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.714);
    font-size: .860rem;

}

.answer-to-all-need__benefit__descreption{
    font-weight: 400;
    font-size: .560rem;
    color: rgba(0, 0, 0, 0.513);
    line-height: 1.7;

}