html{
    font-size: 100%;
    font-family: vazirmatn;
    direction: rtl;
}

body{
    background-color: #1cc47e;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding : 0 12%;
}

/*extra SMAL screen */
@media (min-width: 360px) {
    
   .container{
    max-width: 100%;
   }
}

/* SMAL screen */
@media (min-width: 480px) {
    
   .container{
    max-width: 100%;
   }
}

/* tablet screen */
@media (min-width: 768px) {
    
   .container{
    max-width: 100%;
   }
}

/* normal screen */
@media (min-width: 1000px) {
    
   .container{
    max-width: 968px;
   }
   
}

/* big screen */
@media (min-width: 1400px) {
    
   .container{
    max-width: 1440px;
   }
}
/* 2xbig screen */
@media (min-width: 1600px) {
    
   .container{
    max-width: 1660px;
   }
}


.navbar{
    height: 5rem;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    box-shadow: 5px -16px 20px 9px #0000008c;
}

.navbar__section{
    display: flex;
    gap: 2rem;
}

.navbar__links{
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    color: #636363;
    font-weight:300 ;
}


/*
* hero section
*/
.hero-section{
    display: flex;
}

.hero-section__intro{
    color: rgb(255, 255, 255);
    background-color: #21aa58;
    width: 50%;
    
}

.hero-section__image{
    background: url(../img/hero-section.jpg) center center/cover ;
    min-height: 40vh;
    width: 50%;
    transform: rotatey(180deg);
}

.hero-section__intro__tagline{
    font-size: 2rem;
    font-weight: 700;
    line-height: 4.0625rem;
    margin-bottom: 1rem;
}

.hero-section__intro__about{
    font-size: 1.25rem;
    line-height: 2.1875rem;
    margin-bottom: 1rem;
}